@{
    ViewBag.Title = "About Make an Appointment";
}
<div class="jumbotron">
    <h2>About "Make an Appointment"</h2>
    <p>
        This appointment application can easily be customised to provide an online appoinment service for a wide range of businesses and offices.  Currently, user registeration and auhentication are not available but can be added
        later to provide a fully functional online appointment service.
    </p>
 </div>